*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.pytest_cache/
/coverage.xml
.eggs/

MANIFEST.in~
codebin/
/tmp/
.zip
/examples/db/
/var/
/examples/tmp/
/examples/logs/
/builddocs/
/builddocs.zip
/build/
/dist/
itnpy.egg-info
itnpy2.egg-info
matyan.log*
db.sqlite3
sample_db.sqlite
